circus.dev_mode=True
circus.api_dev=http://localhost:8000/api/
circus.api_prod=https://com.rankedcircus.com/api/
circus.version=0.0.1
circus.game=Overwatch
circus.tesseract_path=C:\\Program Files\\Tesseract-OCR\\tessdata
circus.chat.log=True
circus.chat.log_file=chat_log.txt
circus.cmd.default.global_cooldown=10
circus.cmd.pause.global_cooldown=7
circus.cmd.current_game.global_cooldown=15
circus.cmd.prefix=&